sudo: false
dist: trusty
language: python
virtualenv:
  system_site_packages: true

addons:
  apt:
    sources:
      - sourceline: 'ppa:fontforge/fontforge'
    packages:
      - fontforge
      - python-fontforge

install:
  - pip install fonttools

script:
  - make otf
  - make check
