<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>P</key>
		<dict>
			<key>public.kern2.A2</key>
			<integer>-59</integer>
			<key>public.kern2.U2</key>
			<integer>49</integer>
			<key>public.kern2.V2</key>
			<integer>24</integer>
			<key>public.kern2.a.sc2</key>
			<integer>-90</integer>
			<key>public.kern2.b2</key>
			<integer>12</integer>
			<key>public.kern2.c.sc</key>
			<integer>-40</integer>
			<key>public.kern2.comma2</key>
			<integer>-24</integer>
			<key>public.kern2.exclam</key>
			<integer>10</integer>
			<key>public.kern2.hyphen.sc2</key>
			<integer>-20</integer>
			<key>public.kern2.uni201F_2</key>
			<integer>24</integer>
		</dict>
		<key>Rho</key>
		<dict>
			<key>Tau</key>
			<integer>20</integer>
			<key>public.kern2.Alpha2</key>
			<integer>-60</integer>
			<key>public.kern2.phi</key>
			<integer>-30</integer>
			<key>public.kern2.rho2</key>
			<integer>-20</integer>
		</dict>
		<key>c_k</key>
		<dict>
			<key>public.kern2.V2</key>
			<integer>-24</integer>
			<key>public.kern2.Y2</key>
			<integer>-12</integer>
			<key>x</key>
			<integer>10</integer>
		</dict>
		<key>f_k</key>
		<dict>
			<key>public.kern2.V2</key>
			<integer>-24</integer>
			<key>public.kern2.Y2</key>
			<integer>-12</integer>
			<key>x</key>
			<integer>10</integer>
		</dict>
		<key>l.sc</key>
		<dict>
			<key>public.kern2.t.sc2</key>
			<integer>-25</integer>
		</dict>
		<key>p.sc</key>
		<dict>
			<key>public.kern2.a.sc2</key>
			<integer>-25</integer>
			<key>public.kern2.hyphen.sc2</key>
			<integer>20</integer>
		</dict>
		<key>public.kern1.A</key>
		<dict>
			<key>c_h</key>
			<integer>-12</integer>
			<key>c_k</key>
			<integer>-12</integer>
			<key>public.kern2.C</key>
			<integer>-34</integer>
			<key>public.kern2.T2</key>
			<integer>-63</integer>
			<key>public.kern2.V2</key>
			<integer>-112</integer>
			<key>public.kern2.Y2</key>
			<integer>-73</integer>
			<key>public.kern2.a</key>
			<integer>-12</integer>
			<key>public.kern2.backslash</key>
			<integer>-12</integer>
			<key>public.kern2.c</key>
			<integer>-12</integer>
			<key>public.kern2.c.sc</key>
			<integer>-22</integer>
			<key>public.kern2.plus</key>
			<integer>-37</integer>
			<key>public.kern2.t.sc2</key>
			<integer>-60</integer>
			<key>public.kern2.u.sc</key>
			<integer>-35</integer>
			<key>public.kern2.uni201F_2</key>
			<integer>-73</integer>
			<key>public.kern2.v</key>
			<integer>-65</integer>
			<key>u</key>
			<integer>-34</integer>
		</dict>
		<key>public.kern1.Alpha</key>
		<dict>
			<key>Tau</key>
			<integer>-60</integer>
			<key>chi</key>
			<integer>-40</integer>
			<key>public.kern2.Alpha2</key>
			<integer>20</integer>
			<key>public.kern2.Upsilon2</key>
			<integer>-60</integer>
			<key>public.kern2.eta</key>
			<integer>-44</integer>
			<key>public.kern2.nu</key>
			<integer>-60</integer>
			<key>public.kern2.phi</key>
			<integer>-27</integer>
			<key>public.kern2.rho2</key>
			<integer>-16</integer>
		</dict>
		<key>public.kern1.Amacron</key>
		<dict>
			<key>c_h</key>
			<integer>-12</integer>
			<key>c_k</key>
			<integer>-12</integer>
			<key>public.kern2.C</key>
			<integer>-34</integer>
			<key>public.kern2.T2</key>
			<integer>-63</integer>
			<key>public.kern2.V2</key>
			<integer>-112</integer>
			<key>public.kern2.Y2</key>
			<integer>-73</integer>
			<key>public.kern2.a</key>
			<integer>-12</integer>
			<key>public.kern2.backslash</key>
			<integer>-12</integer>
			<key>public.kern2.c</key>
			<integer>-12</integer>
			<key>public.kern2.plus</key>
			<integer>-37</integer>
			<key>public.kern2.uni201F_2</key>
			<integer>-73</integer>
			<key>public.kern2.v</key>
			<integer>-65</integer>
			<key>u</key>
			<integer>-34</integer>
		</dict>
		<key>public.kern1.Chi</key>
		<dict>
			<key>Tau</key>
			<integer>20</integer>
			<key>chi</key>
			<integer>-14</integer>
			<key>public.kern2.Upsilon2</key>
			<integer>20</integer>
			<key>public.kern2.eta</key>
			<integer>-60</integer>
			<key>public.kern2.nu</key>
			<integer>-16</integer>
			<key>public.kern2.phi</key>
			<integer>-51</integer>
			<key>public.kern2.rho2</key>
			<integer>-31</integer>
		</dict>
		<key>public.kern1.D</key>
		<dict>
			<key>public.kern2.A2</key>
			<integer>-29</integer>
			<key>public.kern2.T2</key>
			<integer>-5</integer>
			<key>public.kern2.V2</key>
			<integer>37</integer>
			<key>public.kern2.Y2</key>
			<integer>-34</integer>
			<key>public.kern2.backslash</key>
			<integer>-10</integer>
			<key>public.kern2.comma2</key>
			<integer>-29</integer>
			<key>public.kern2.v</key>
			<integer>10</integer>
			<key>x</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.F</key>
		<dict>
			<key>public.kern2.A2</key>
			<integer>-59</integer>
			<key>public.kern2.U2</key>
			<integer>49</integer>
			<key>public.kern2.V2</key>
			<integer>24</integer>
			<key>public.kern2.b2</key>
			<integer>12</integer>
			<key>public.kern2.comma2</key>
			<integer>-24</integer>
			<key>public.kern2.exclam</key>
			<integer>10</integer>
			<key>public.kern2.uni201F_2</key>
			<integer>24</integer>
		</dict>
		<key>public.kern1.H</key>
		<dict>
			<key>public.kern2.T2</key>
			<integer>37</integer>
			<key>public.kern2.U2</key>
			<integer>24</integer>
			<key>public.kern2.V2</key>
			<integer>24</integer>
			<key>public.kern2.Y2</key>
			<integer>24</integer>
		</dict>
		<key>public.kern1.K</key>
		<dict>
			<key>c_h</key>
			<integer>-20</integer>
			<key>c_k</key>
			<integer>-20</integer>
			<key>public.kern2.C</key>
			<integer>-24</integer>
			<key>public.kern2.U2</key>
			<integer>24</integer>
			<key>public.kern2.V2</key>
			<integer>24</integer>
			<key>public.kern2.Y2</key>
			<integer>24</integer>
			<key>public.kern2.a</key>
			<integer>-15</integer>
			<key>public.kern2.c</key>
			<integer>-20</integer>
			<key>public.kern2.c.sc</key>
			<integer>-40</integer>
			<key>public.kern2.hyphen.sc2</key>
			<integer>-40</integer>
			<key>public.kern2.plus</key>
			<integer>-24</integer>
			<key>public.kern2.t.sc2</key>
			<integer>-20</integer>
			<key>public.kern2.u.sc</key>
			<integer>-25</integer>
			<key>public.kern2.v</key>
			<integer>-54</integer>
		</dict>
		<key>public.kern1.L</key>
		<dict>
			<key>public.kern2.Y2</key>
			<integer>-49</integer>
		</dict>
		<key>public.kern1.Phi</key>
		<dict>
			<key>public.kern2.Alpha2</key>
			<integer>-8</integer>
		</dict>
		<key>public.kern1.T</key>
		<dict>
			<key>c_h</key>
			<integer>-63</integer>
			<key>c_k</key>
			<integer>-63</integer>
			<key>public.kern2.A2</key>
			<integer>-49</integer>
			<key>public.kern2.C</key>
			<integer>-5</integer>
			<key>public.kern2.T2</key>
			<integer>55</integer>
			<key>public.kern2.U2</key>
			<integer>37</integer>
			<key>public.kern2.V2</key>
			<integer>24</integer>
			<key>public.kern2.Y2</key>
			<integer>24</integer>
			<key>public.kern2.a</key>
			<integer>-49</integer>
			<key>public.kern2.a.sc2</key>
			<integer>-80</integer>
			<key>public.kern2.c</key>
			<integer>-63</integer>
			<key>public.kern2.c.sc</key>
			<integer>-60</integer>
			<key>public.kern2.comma2</key>
			<integer>-63</integer>
			<key>public.kern2.exclam</key>
			<integer>10</integer>
			<key>public.kern2.hyphen.sc2</key>
			<integer>-100</integer>
			<key>public.kern2.m</key>
			<integer>-20</integer>
			<key>public.kern2.plus</key>
			<integer>-59</integer>
			<key>public.kern2.v</key>
			<integer>-49</integer>
			<key>u</key>
			<integer>-39</integer>
			<key>x</key>
			<integer>-34</integer>
		</dict>
		<key>public.kern1.Tau</key>
		<dict>
			<key>Tau</key>
			<integer>30</integer>
			<key>chi</key>
			<integer>-23</integer>
			<key>public.kern2.Alpha2</key>
			<integer>-35</integer>
			<key>public.kern2.Upsilon2</key>
			<integer>30</integer>
			<key>public.kern2.eta</key>
			<integer>-20</integer>
			<key>public.kern2.nu</key>
			<integer>-24</integer>
			<key>public.kern2.phi</key>
			<integer>-40</integer>
			<key>public.kern2.rho2</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.U</key>
		<dict>
			<key>public.kern2.A2</key>
			<integer>-59</integer>
			<key>public.kern2.T2</key>
			<integer>37</integer>
			<key>public.kern2.U2</key>
			<integer>24</integer>
			<key>public.kern2.V2</key>
			<integer>24</integer>
			<key>public.kern2.Y2</key>
			<integer>24</integer>
			<key>public.kern2.comma2</key>
			<integer>-24</integer>
		</dict>
		<key>public.kern1.Upsilon</key>
		<dict>
			<key>Tau</key>
			<integer>20</integer>
			<key>chi</key>
			<integer>-16</integer>
			<key>public.kern2.Alpha2</key>
			<integer>-60</integer>
			<key>public.kern2.eta</key>
			<integer>-30</integer>
			<key>public.kern2.nu</key>
			<integer>-17</integer>
			<key>public.kern2.phi</key>
			<integer>-50</integer>
			<key>public.kern2.rho2</key>
			<integer>-30</integer>
			<key>public.kern2.uni03BC</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.V</key>
		<dict>
			<key>c_h</key>
			<integer>-80</integer>
			<key>c_k</key>
			<integer>-80</integer>
			<key>public.kern2.A2</key>
			<integer>-112</integer>
			<key>public.kern2.C</key>
			<integer>-34</integer>
			<key>public.kern2.T2</key>
			<integer>24</integer>
			<key>public.kern2.U2</key>
			<integer>24</integer>
			<key>public.kern2.V2</key>
			<integer>24</integer>
			<key>public.kern2.Y2</key>
			<integer>24</integer>
			<key>public.kern2.a</key>
			<integer>-60</integer>
			<key>public.kern2.a.sc2</key>
			<integer>-120</integer>
			<key>public.kern2.b.sc</key>
			<integer>-20</integer>
			<key>public.kern2.c</key>
			<integer>-80</integer>
			<key>public.kern2.c.sc</key>
			<integer>-60</integer>
			<key>public.kern2.comma2</key>
			<integer>-88</integer>
			<key>public.kern2.hyphen.sc2</key>
			<integer>-50</integer>
			<key>public.kern2.m</key>
			<integer>-40</integer>
			<key>public.kern2.plus</key>
			<integer>-49</integer>
			<key>public.kern2.u.sc</key>
			<integer>-20</integer>
			<key>public.kern2.v</key>
			<integer>-49</integer>
			<key>u</key>
			<integer>-24</integer>
			<key>x</key>
			<integer>-24</integer>
		</dict>
		<key>public.kern1.W.alt</key>
		<dict>
			<key>c_h</key>
			<integer>-80</integer>
			<key>c_k</key>
			<integer>-80</integer>
			<key>public.kern2.A2</key>
			<integer>-112</integer>
			<key>public.kern2.C</key>
			<integer>-34</integer>
			<key>public.kern2.T2</key>
			<integer>24</integer>
			<key>public.kern2.U2</key>
			<integer>24</integer>
			<key>public.kern2.V2</key>
			<integer>24</integer>
			<key>public.kern2.Y2</key>
			<integer>24</integer>
			<key>public.kern2.a</key>
			<integer>-60</integer>
			<key>public.kern2.c</key>
			<integer>-80</integer>
			<key>public.kern2.comma2</key>
			<integer>-88</integer>
			<key>public.kern2.m</key>
			<integer>-40</integer>
			<key>public.kern2.plus</key>
			<integer>-49</integer>
			<key>public.kern2.v</key>
			<integer>-49</integer>
			<key>u</key>
			<integer>-24</integer>
			<key>x</key>
			<integer>-24</integer>
		</dict>
		<key>public.kern1.Y</key>
		<dict>
			<key>c_h</key>
			<integer>-71</integer>
			<key>c_k</key>
			<integer>-71</integer>
			<key>public.kern2.A2</key>
			<integer>-61</integer>
			<key>public.kern2.C</key>
			<integer>-37</integer>
			<key>public.kern2.T2</key>
			<integer>24</integer>
			<key>public.kern2.U2</key>
			<integer>24</integer>
			<key>public.kern2.V2</key>
			<integer>24</integer>
			<key>public.kern2.Y2</key>
			<integer>24</integer>
			<key>public.kern2.a</key>
			<integer>-60</integer>
			<key>public.kern2.a.sc2</key>
			<integer>-120</integer>
			<key>public.kern2.b.sc</key>
			<integer>-20</integer>
			<key>public.kern2.c</key>
			<integer>-71</integer>
			<key>public.kern2.c.sc</key>
			<integer>-60</integer>
			<key>public.kern2.comma2</key>
			<integer>-44</integer>
			<key>public.kern2.hyphen.sc2</key>
			<integer>-50</integer>
			<key>public.kern2.m</key>
			<integer>-40</integer>
			<key>public.kern2.plus</key>
			<integer>-49</integer>
			<key>public.kern2.u.sc</key>
			<integer>-20</integer>
			<key>public.kern2.v</key>
			<integer>-44</integer>
			<key>u</key>
			<integer>-39</integer>
			<key>x</key>
			<integer>-24</integer>
		</dict>
		<key>public.kern1.Yacute</key>
		<dict>
			<key>c_h</key>
			<integer>-71</integer>
			<key>c_k</key>
			<integer>-71</integer>
			<key>public.kern2.A2</key>
			<integer>-61</integer>
			<key>public.kern2.C</key>
			<integer>-37</integer>
			<key>public.kern2.T2</key>
			<integer>24</integer>
			<key>public.kern2.U2</key>
			<integer>24</integer>
			<key>public.kern2.V2</key>
			<integer>24</integer>
			<key>public.kern2.Y2</key>
			<integer>24</integer>
			<key>public.kern2.a</key>
			<integer>-60</integer>
			<key>public.kern2.c</key>
			<integer>-71</integer>
			<key>public.kern2.comma2</key>
			<integer>-44</integer>
			<key>public.kern2.m</key>
			<integer>-40</integer>
			<key>public.kern2.plus</key>
			<integer>-49</integer>
			<key>public.kern2.v</key>
			<integer>-44</integer>
			<key>u</key>
			<integer>-39</integer>
			<key>x</key>
			<integer>-24</integer>
		</dict>
		<key>public.kern1.a.sc</key>
		<dict>
			<key>public.kern2.c.sc</key>
			<integer>-15</integer>
			<key>public.kern2.hyphen.sc2</key>
			<integer>-20</integer>
			<key>public.kern2.t.sc2</key>
			<integer>-50</integer>
			<key>public.kern2.u.sc</key>
			<integer>-50</integer>
		</dict>
		<key>public.kern1.b</key>
		<dict>
			<key>c_h</key>
			<integer>10</integer>
			<key>c_k</key>
			<integer>10</integer>
			<key>public.kern2.A2</key>
			<integer>-20</integer>
			<key>public.kern2.T2</key>
			<integer>-29</integer>
			<key>public.kern2.V2</key>
			<integer>-44</integer>
			<key>public.kern2.Y2</key>
			<integer>-37</integer>
			<key>public.kern2.c</key>
			<integer>10</integer>
			<key>public.kern2.comma2</key>
			<integer>-20</integer>
			<key>public.kern2.uni201F_2</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.comma</key>
		<dict>
			<key>public.kern2.C</key>
			<integer>-10</integer>
			<key>public.kern2.T2</key>
			<integer>-61</integer>
			<key>public.kern2.V2</key>
			<integer>-73</integer>
			<key>public.kern2.Y2</key>
			<integer>-73</integer>
			<key>public.kern2.uni201F_2</key>
			<integer>-122</integer>
		</dict>
		<key>public.kern1.d.sc</key>
		<dict>
			<key>public.kern2.a.sc2</key>
			<integer>-10</integer>
			<key>public.kern2.hyphen.sc2</key>
			<integer>20</integer>
			<key>public.kern2.t.sc2</key>
			<integer>-10</integer>
			<key>x.sc</key>
			<integer>-25</integer>
		</dict>
		<key>public.kern1.e</key>
		<dict>
			<key>c_h</key>
			<integer>7</integer>
			<key>c_k</key>
			<integer>7</integer>
			<key>public.kern2.A2</key>
			<integer>-40</integer>
			<key>public.kern2.T2</key>
			<integer>-49</integer>
			<key>public.kern2.V2</key>
			<integer>-54</integer>
			<key>public.kern2.Y2</key>
			<integer>-54</integer>
			<key>public.kern2.c</key>
			<integer>7</integer>
			<key>public.kern2.comma2</key>
			<integer>-10</integer>
			<key>public.kern2.uni201F_2</key>
			<integer>-24</integer>
			<key>public.kern2.v</key>
			<integer>-7</integer>
			<key>x</key>
			<integer>-7</integer>
		</dict>
		<key>public.kern1.f</key>
		<dict>
			<key>public.kern2.C</key>
			<integer>24</integer>
			<key>public.kern2.J</key>
			<integer>80</integer>
			<key>public.kern2.T2</key>
			<integer>98</integer>
			<key>public.kern2.V2</key>
			<integer>98</integer>
			<key>public.kern2.Y2</key>
			<integer>98</integer>
			<key>public.kern2.b2</key>
			<integer>40</integer>
			<key>public.kern2.backslash</key>
			<integer>76</integer>
			<key>public.kern2.degree</key>
			<integer>88</integer>
			<key>public.kern2.exclam</key>
			<integer>80</integer>
			<key>public.kern2.uni201F_2</key>
			<integer>73</integer>
		</dict>
		<key>public.kern1.f.sc</key>
		<dict>
			<key>public.kern2.a.sc2</key>
			<integer>-35</integer>
		</dict>
		<key>public.kern1.g</key>
		<dict>
			<key>public.kern2.V2</key>
			<integer>-24</integer>
			<key>public.kern2.Y2</key>
			<integer>-12</integer>
			<key>x</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.hyphen</key>
		<dict>
			<key>public.kern2.A2</key>
			<integer>-37</integer>
			<key>public.kern2.T2</key>
			<integer>-49</integer>
			<key>public.kern2.V2</key>
			<integer>-49</integer>
			<key>public.kern2.Y2</key>
			<integer>-49</integer>
			<key>public.kern2.backslash</key>
			<integer>-10</integer>
		</dict>
		<key>public.kern1.hyphen.sc</key>
		<dict>
			<key>public.kern2.a.sc2</key>
			<integer>-20</integer>
			<key>public.kern2.c.sc</key>
			<integer>20</integer>
			<key>public.kern2.t.sc2</key>
			<integer>-20</integer>
			<key>x.sc</key>
			<integer>-40</integer>
		</dict>
		<key>public.kern1.k.sc</key>
		<dict>
			<key>public.kern2.c.sc</key>
			<integer>-35</integer>
		</dict>
		<key>public.kern1.parenleft</key>
		<dict>
			<key>c_h</key>
			<integer>-17</integer>
			<key>c_k</key>
			<integer>-17</integer>
			<key>public.kern2.A2</key>
			<integer>-24</integer>
			<key>public.kern2.C</key>
			<integer>-10</integer>
			<key>public.kern2.J</key>
			<integer>73</integer>
			<key>public.kern2.U2</key>
			<integer>12</integer>
			<key>public.kern2.a</key>
			<integer>-12</integer>
			<key>public.kern2.b2</key>
			<integer>12</integer>
			<key>public.kern2.c</key>
			<integer>-17</integer>
			<key>public.kern2.plus</key>
			<integer>-37</integer>
			<key>public.kern2.v</key>
			<integer>-17</integer>
		</dict>
		<key>public.kern1.r</key>
		<dict>
			<key>c_h</key>
			<integer>-8</integer>
			<key>c_k</key>
			<integer>-8</integer>
			<key>public.kern2.A2</key>
			<integer>-49</integer>
			<key>public.kern2.C</key>
			<integer>10</integer>
			<key>public.kern2.T2</key>
			<integer>-39</integer>
			<key>public.kern2.V2</key>
			<integer>-24</integer>
			<key>public.kern2.Y2</key>
			<integer>-12</integer>
			<key>public.kern2.backslash</key>
			<integer>-17</integer>
			<key>public.kern2.c</key>
			<integer>-8</integer>
			<key>public.kern2.comma2</key>
			<integer>-59</integer>
			<key>public.kern2.v</key>
			<integer>15</integer>
			<key>x</key>
			<integer>10</integer>
		</dict>
		<key>public.kern1.rho</key>
		<dict>
			<key>Tau</key>
			<integer>-49</integer>
			<key>public.kern2.Alpha2</key>
			<integer>-20</integer>
			<key>public.kern2.Upsilon2</key>
			<integer>-40</integer>
			<key>public.kern2.eta</key>
			<integer>-5</integer>
			<key>public.kern2.nu</key>
			<integer>-20</integer>
		</dict>
		<key>public.kern1.t.sc</key>
		<dict>
			<key>public.kern2.a.sc2</key>
			<integer>-70</integer>
			<key>public.kern2.c.sc</key>
			<integer>-25</integer>
			<key>public.kern2.hyphen.sc2</key>
			<integer>-25</integer>
		</dict>
		<key>public.kern1.uni0403</key>
		<dict>
			<key>public.kern2.uni0427</key>
			<integer>30</integer>
			<key>public.kern2.uni0435_2</key>
			<integer>-35</integer>
			<key>uni0410</key>
			<integer>-50</integer>
		</dict>
		<key>public.kern1.uni040E</key>
		<dict>
			<key>public.kern2.uni0430</key>
			<integer>-40</integer>
			<key>public.kern2.uni0435_2</key>
			<integer>-60</integer>
			<key>public.kern2.uni0436</key>
			<integer>-50</integer>
			<key>uni0410</key>
			<integer>-100</integer>
			<key>x</key>
			<integer>-50</integer>
		</dict>
		<key>public.kern1.uni041E</key>
		<dict>
			<key>uni0410</key>
			<integer>-35</integer>
		</dict>
		<key>public.kern1.uni042A</key>
		<dict>
			<key>public.kern2.uni0427</key>
			<integer>-50</integer>
		</dict>
		<key>public.kern1.uni0435</key>
		<dict>
			<key>public.kern2.uni0427</key>
			<integer>-23</integer>
		</dict>
		<key>public.kern1.uni0443</key>
		<dict>
			<key>uni0410</key>
			<integer>-70</integer>
		</dict>
		<key>public.kern1.uni201F</key>
		<dict>
			<key>c_h</key>
			<integer>-24</integer>
			<key>c_k</key>
			<integer>-24</integer>
			<key>public.kern2.A2</key>
			<integer>-49</integer>
			<key>public.kern2.c</key>
			<integer>-24</integer>
			<key>public.kern2.comma2</key>
			<integer>-49</integer>
		</dict>
		<key>public.kern1.uni2080</key>
		<dict>
			<key>public.kern2.uni201F_2</key>
			<integer>-73</integer>
		</dict>
		<key>public.kern1.zeta</key>
		<dict>
			<key>public.kern2.phi</key>
			<integer>-20</integer>
			<key>public.kern2.rho2</key>
			<integer>-10</integer>
		</dict>
		<key>uni0136</key>
		<dict>
			<key>c_h</key>
			<integer>-20</integer>
			<key>c_k</key>
			<integer>-20</integer>
			<key>public.kern2.C</key>
			<integer>-24</integer>
			<key>public.kern2.U2</key>
			<integer>24</integer>
			<key>public.kern2.V2</key>
			<integer>24</integer>
			<key>public.kern2.Y2</key>
			<integer>24</integer>
			<key>public.kern2.a</key>
			<integer>-15</integer>
			<key>public.kern2.c</key>
			<integer>-20</integer>
			<key>public.kern2.plus</key>
			<integer>-24</integer>
			<key>public.kern2.v</key>
			<integer>-54</integer>
		</dict>
	</dict>
</plist>
